*{
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #A3BBAD;
}

body{
	width: 100%;
}

.Navigation > ul
{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;	
	background-color: #0E3B43;
	height: 80px;
	padding-top: 45px;	
}
.Navigation > ul > li
{
	float: left;
}

.Navigation > ul > li > a
{
	padding: 8px;
	background-color: #0E3B43;
	color: #A3BBAD;
	text-decoration: none;
	font-size: 30px;
}
.Navigation > ul > li > a:hover
{
	background-color: #000000;
}

#Image1Hoofdpagina{
	display: none;
}
.article1Hoofdpagina{
	width: 100%;
}
.article1Hoofdpagina > p{
	width: 80%;
	margin: auto;
}
.article1Hoofdpagina > header{
	width: 80%;
	margin: auto;
}
.article1Hoofdpagina > img{
	width: 50%;
	margin: auto;
}
#HeaderHoofdpagina{
	color: #0B2D32;
}
#TekstHoofdpagina{
	color: #3F1211;
	font-size: 20px;
}
	