/* HOMEPAGE CSS*/
*	
{
	margin: 0;
	padding: 0;
	border: 0;
}
/*NAVIGATION BAR*/
#Navigation{
	!border-width: 1em;
	border-color: #F90;
	border-style: double;
	list-style-type: none;
	padding-bottom: 90px;
	padding-top: 20px;
	background-color: #005200	;
}
#NavItem1{
	float:left;
	
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;
}
#NavItem2{
	float:left;
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;	
}
#NavItem3{
	float:left;
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;
}
#NavItem4{
	float:left;
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;
}
#NavItem5{
	float:left;
	
}
#NavAnchor1{
    display: block;
	padding: 8px;
	color: #80A980;
	font-size: 30px;
}
#NavAnchor2{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 30px;
}
#NavAnchor3{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 30px;
}
#NavAnchor4{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 30px;
}
#NavAnchor5{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 30px;
}
#NavAnchor1:hover {
	color: #003F00;
}
#NavAnchor2:hover {
	color: #003F00;
}
#NavAnchor3:hover {
	color: #003F00;
}
#NavAnchor4:hover {
	color: #003F00;
}
#NavAnchor5:hover {
	color: #003F00;
}
/*MY 2 IMAGES FOR HOMEPAGE */
#PlaceholderImage1{
	
}
#Placeholder1{

	float: right;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 10px;
	height: 450px;
	width:350;
}
#PlaceholderImage2{
	border-width: 1em;
	border-color: yellow;
	border-style: double;
}
#Placeholder2{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 10px;
	float: left;
	height: 450px;
	width: 350px;
}
/* TEXT FOR MY HOMEPAGE */
#Paragraph1Hoofdpagina{
	text-align: center;
	padding-top: 30px;
	color: #000000;
}
#Header1Hoofdpagina{
	text-align: center;
	padding-top: 50px;
}
#BodyHome{
}
/*DETAILPAGINA 1 */

/*TEXT EN FOTO PARAGRAAF 1 */

#Article1Pagina2{
	
	
}

#Header1Pagina2{
	position:relative;
	
}
#Paragraaf1Pagina2{
}

#Sint-Laurenskerk{
	float: right;
	height: 400px;
	width: 350px;
}
/*Text en afbeelding paragraaf 2 */
#VictoriemonumentPagina2{
	height: 400px;
	width: 300px;
}
#Header2Pagina2{
	clear: both;
	float: right;
}
#Paragraaf2Pagina2{
	clear: both;
	float: right;
}
/*Text en afbeelding paragraaf 3 */
#PakhuisPagina2{
	
	float: right;
}	
#Paragraaf3Pagina2{
	float: left;
}
/*DETAILPAGINA 2 */

/*Text en Afbeelding paragraaf 1 */

#Header1Pagina3{
	float: left;
}
#Paragraaf1Pagina3{
	clear: both;
	float: left;
	padding-right: 350px;
}
#CentrumAlkmaar{
	float: right;
}


/*Text en Afbeelding paragraaf 2 */

#Header2Pagina3{	
	float: right;
}
#Paragraaf2Pagina3{
	clear: both;
	float: right;
	text-align: right;
}
#Afbeelding2Pagina3{
	float: left;
	height: 400px;
	width: 400px;
}

/*Text en Afbeelding paragraaf 3 */

#Header3Pagina3{
	clear: both;
	float: left;
}
#Paragraaf3Pagina3{
	clear: both;
	float: left;
	text-align: left;
}
#Afbeelding3Pagina3{
	float: right;
	height: 500px;
	width: 500px;
}
/*DETAILPAGINA 3 */

/*tEXT EN AFBEELDING PARAGRAAF 1*/
#Paragraaf1Pagina4{
	float: right;
	clear:both;
	text-align: right;
}
#oudegracht{
	height: 320px;
}
#Header1Pagina4{
	clear:both;
	float:right;
}

/*Text en afbeelding paragraaf 2 */
#Header2Pagina4{
}

#Paragraaf2Pagina4{
	clear: both;
	float: right;
	text-align: right;
}
/* Text en afbeelding paragraaf 3 */

#Header3Pagina4{
	clear: both;
	float: right;
}

#Paragraaf3Pagina4{
	clear: both;
	float: right;
	text-align: right;
}

#kanonnen{
	height: 400px;
	width: 400px;
}

/* Detailpagina4 */

/*Text en afbeelding paragraaf 1 */

#Header1Pagina5{
	float: right;
}

#Paragraaf1Pagina5{
	clear: both;
	float: right;
	text-align: right;
}

#Nassau{
	float: left;
	height: 400px;
	width: 400px;
}

/* Text en afbeelding paragraaf 2 */

#Header2Pagina5{
	clear: both;
	float: right;
}

#Paragraaf2Pagina5{
	clear: both;
	float: right;
	text-align: right;
}

#GeestmerambachtMeer{
	float: left;
	height: 400px;
	width: 400px;
}

/* Text en afbeelding paragraaf 3 */

#Header3Pagina5{
	clear: both;
	float: right;
}

#Paragraaf3Pagina5{
	clear: both;
	float: right;
	text-align: right;
}

#DuinvermaakDuinen{
	float: left;
	height: 400px;
	width: 400px;
}

	