/* HOMEPAGE CSS*/
*	
{
	margin: 0;
	padding: 0;
	border: 0;
}
/*NAVIGATION BAR*/
#Navigation{
	!border-width: 1em;
	border-color: #F90;
	border-style: double;
	list-style-type: none;
	padding-bottom: 90px;
	padding-top: 20px;
	background-color: #005200	;
}
#NavItem1{
	float:left;
	
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;
}
#NavItem2{
	float:left;
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;	
}
#NavItem3{
	float:left;
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;
}
#NavItem4{
	float:left;
	border-right: 1px;
	border-color: #FFFFFF;
	border-style: solid;
}
#NavItem5{
	float:left;
	
}
#NavAnchor1{
    display: block;
	padding: 8px;
	color: #80A980;
	font-size: 40px;
}
#NavAnchor2{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 40px;
}
#NavAnchor3{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 40px;
}
#NavAnchor4{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 40px;
}
#NavAnchor5{
	display: block;
	padding: 8px;
	color: #80A980;
	font-size: 40px;
}
#NavAnchor1:hover {
	color: #003F00;
}
#NavAnchor2:hover {
	color: #003F00;
}
#NavAnchor3:hover {
	color: #003F00;
}
#NavAnchor4:hover {
	color: #003F00;
}
#NavAnchor5:hover {
	color: #003F00;
}
/*MY 2 IMAGES FOR HOMEPAGE */
#PlaceholderImage1{
	
}
#Placeholder1{

	float: right;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 10px;
	height: 450px;
	width:350;
}
#PlaceholderImage2{
	border-width: 1em;
	border-color: yellow;
	border-style: double;
}
#Placeholder2{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 10px;
	float: left;
	height: 450px;
	width: 350px;
}
/* TEXT FOR MY HOMEPAGE */
#Paragraph1Hoofdpagina{
	text-align: center;
	padding-top: 30px;
	color: #B3B3B3;
}
#Header1Hoofdpagina{
	text-align: center;
	padding-top: 50px;
}
#BodyHome{
	background-color: #8BE68B;
}
	
	

